.header {
    margin-top: .5rem;
    font-family: 'Asul', sans-serif;
}


.header2 {
    font-family: 'Asul', sans-serif;
    font-size: 44px;
 
}

.subtext {
    font-family: 'Open Sans', sans-serif;
   
    font-size: 20px;
  
}


.landing-section {
    overflow-x: hidden;    
}

.portfolio-row {
    overflow-x: scroll !important;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    scroll-behavior: smooth;
    display: inline-flex;
}


.portfolio-images {
    margin: 0;
    padding: 3em;
    
}

.port {
    position: relative;
}

.port-script {
    margin-top: 0.8em;
    display: flex !important;
    justify-content: center !important;
}

.down-arrow {
    margin-top: 20%;
    margin-left: 83%;
}

.down-arrow2 {
    margin-top: 5%;
    
}

.portfolio-section {
    height: 100vh;
    align-content: center !important;
}



body {
    overflow-x: hidden;
    /* background-color:  rgb(250, 243, 232); */
    background: linear-gradient(rgb(250, 243, 232),rgb(255, 201, 156));
    opacity: 0; 
    transition: opacity 2s;
    padding: 5px;
}

#nayphoto {
    object-fit: cover;
    float: right;
    height: 100vh;
    
}

#portfolio-header {
    padding-top: 10em;
}

.contact {
    height: 100vh;
}

.honor {
    margin-top: 10%;
}

.intro {
    margin-top: 10%;
}

.row, .col {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}


.contact-info {
    margin-top: 5rem;
}

.contact-header {
    margin-top: 5rem;
}

#up-arrow {
    margin-top: 5rem;
    cursor: pointer;
}

#portfolio-icon-right, #portfolio-icon-left {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    body {
      background: lightblue;
    }
  }