.header {
    margin-top: .5rem;
    font-family: 'Asul', sans-serif;
}


.header2 {
    font-family: 'Asul', sans-serif;
    font-size: 44px;
    z-index: 1;
 
}

.subtext {
    font-family: 'Open Sans', sans-serif;
    margin-top: -8px;
    font-size: 20px;
  
}


#landing-section {
    overflow-x: hidden;
}

#portfolio-row {
    overflow-x: scroll !important;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
}

#portfolio-wrapper{
    height: 100vh;
}

.portfolio-images {
    margin: 0;
    padding: 3em;
}

.down-arrow {
margin-left: 7px;
}






body {
    overflow-x: hidden;
    background-color: rgb(250, 243, 232);
    opacity: 0; 
    transition: opacity 1s;
}

#nayphoto {
    object-fit: cover;
    float: right;
    max-width: 100vh;
    z-index: 0;
    height: 100vh;
    
}

#portfolio-header {
    padding-top: 10em;
}

#contact {
    height: 100vh;
}